name: setup app
on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: 24
jobs:
  setup-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
